.alert-message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
  background-color: var(--theme-background-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  border-radius: 1.2rem;
  width: 80vw;
  min-height: 15vh;
  height: fit-content;
  padding: 3%;
}

.alert-message {
  font-size: 3vh;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  z-index: 100001;
  text-align: center;
  margin: 3%;
}

#close {
  z-index: 4;
  height: 5vh;
}

@media (min-width: 800px) {
  .alert-message-container {
    width: 25vw;
  }

  #close {
    max-width: 15vw;
  }
}
